<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        *{
            padding: 0px;
            margin: 0px;
        }
        a{
            color: whitesmoke;
            text-decoration: white;
        }
    </style>
</head>
<body>
<div style="width: 1366px;height: 30px;background: rgb(42, 150, 223)">
    <img src="C:\Users\cz\Desktop\picture4.jpg" width="60px" height="30px" style="position: absolute;left: 1270px;opacity: 0.8">
    <a href="/view/jsp/mainSystem/manage.jsp" style="position: absolute;top: 5px;left: 1200px;color: rgb(226, 10, 10);">返回主页</a>
</div>
<div style="width: 1366px;height: 180px">
    <img src="C:\Users\cz\Desktop\picture13.jpg" width="1366px" height="400px" style="position: absolute;opacity: 0.8">
    <img src="C:\Users\cz\Desktop\picture9.jpg" height="100px" style="border-radius: 50px;position: absolute;top:70px;left: 20px"/>
    <div style="position: absolute;top: 100px;left: 200px;color: white;font-weight: bolder">4752545</div>
    <div style="position: absolute;top: 150px;left: 1200px;color: rgb(0, 0, 0)">2017asjlkd;</div>
</div>
<div style="width: 1366px;height: 10px;background:rgb(0, 11, 17)"></div>
<div  style="width: 1366px;height: 180px;background:#ffffff">
    <font color="black">回复：</font>
    <form action="" method="post">
        <input type="hidden" name="id" value="">
        <textarea name="text" style="width: 1200px;height: 150px;position: absolute;left: 50px; background: rgb(160, 209, 255)"></textarea>
        <input style="position:absolute;left: 1280px;top: 370px;width: 60px;background: rgb(25, 122, 212)"  type="submit" value="回复">
    </form>
</div>
</body>
</html>